<!doctype html>
<html>
<head>
  <title>COMP90074 Assignment 1 - Change Password</title>  
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="page-container">

  <div class="login-container">
    <div class="login-header">Change Password</div>
    <div class="login-instructions">Don't need to change password anymore? <a href="/">Go back</a></div>
{% if error and not lockout %}
  <div class="login-error">Incorrect username or password.</div>
{% endif %}
{% if error and lockout %}
  <div class="login-error">Your account has been locked out.</div>
{% endif %}


<form method="POST" action="/changepassword" class="login-form">
  <input class="login-input" type="text" placeholder="Username" name="username" maxlength="12" value="{{ user }}" readonly />
  <input class="login-input" type="password" placeholder="New Password" name="password" maxlength="32" required/>
  <button class="login-button" type="submit">Change Password</button>
</form>
</div>
</div>
</body>
</html>
